<% content_for :lp_css do %>
    <%= stylesheet_link_tag :checkr  -%>
<% end %>

<% content_for :title do %>
	<title> Home • Checkr </title>
<% end %>

<% content_for :head do %>
	<%= render 'layouts/checkr-head' %>
<% end %>


<%= render 'home/checkr-source-layouts/checkr-header' %>

<%= render 'home/checkr-source-layouts/subnav-dropdown' %>


<div id="loader-bar"><dd></dd><dt></dt></div>

		<div id="center"></div>
		<div id="full"></div>

<%= render 'home/checkr-source-layouts/svg' %>

<%= render 'home/checkr-source-layouts/main' %>

<%= render 'home/checkr-source-layouts/footer' %>

