<% content_for :head do %>
	<%= render 'layouts/flynn-head' %>
<% end %>

<div id="full-content">

	<%= render 'home/flynn-layouts/nav-1' %>

	<%= render 'home/flynn-layouts/sections/section-1' %>

	<%= render 'home/flynn-layouts/nav-2' %>

	<div id="section-container">
		<%= render 'home/flynn-layouts/sections/section-2' %>

		<%= render 'home/flynn-layouts/sections/section-3' %>

		<%= render 'home/flynn-layouts/sections/section-4' %>

		<%= render 'home/flynn-layouts/sections/section-5' %>

		<%= render 'home/flynn-layouts/sections/section-6' %>

		<%= render 'home/flynn-layouts/nav-3' %>

		<%= render 'home/flynn-layouts/footer' %>
	</div>
</div>
