<nav class="nav-1">
	<ul>
		<li>
			<a href="/"><%= image_tag("flynn_logo.svg", :class => "nav-logo", size: "88x35", alt: "Flynn" ) %></a>
		</li>
		
		<li id="spacer"></li>
		
		<li class="hoverable-li"><%= link_to "About", "https://flynn.io/about" %></li>
		<li class="hoverable-li"><%= link_to "Docs", "https://flynn.io/docs/basics" %></li>
		<li class="hoverable-li"><%= link_to "Blog", "https://flynn.io/docs/blog" %></li>
		<li class="hoverable-li"><%= link_to "Pricing", "https://flynn.io/docs/pricing" %></li>
		<li> <%= link_to "Try", "https://flynn.io/docs/installation", :id => "nav-button", :target => "_blank" %></li>
	</ul>
</nav>