<div id="main" role="document">
	<main class="main" role="main" data-theclass="home page-template-default page page-id-4 content-wrapper">
		<article>

			<%= render 'home/checkr-layouts/sections/1' %>
			<%= render 'home/checkr-layouts/sections/2' %>
			<%= render 'home/checkr-layouts/sections/3' %>
			<%= render 'home/checkr-layouts/sections/4' %>
			<%= render 'home/checkr-layouts/sections/5' %>
			<%= render 'home/checkr-layouts/sections/6' %>
			<%= render 'home/checkr-layouts/sections/7' %>
			
		</article>
	</main>
</div>
